<h1>
  {{ heroe.id ? "Editar" : "Nuevo" }}
  Héroe

  <small>{{ heroe.superhero }}</small>
</h1>

<div class="parent">
  <div class="div1">
    <div class="flexrow gap">
      <mat-form-field class="childsize">
        <mat-label>Super Héroe</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.superhero" />
      </mat-form-field>
      <mat-form-field class="childsize">
        <mat-label>Alter Ego</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.alter_ego" />
      </mat-form-field>
    </div>

    <mat-form-field class="childsize">
      <mat-label>Primera Aparición</mat-label>
      <input
        matInput
        type="text"
        required
        [(ngModel)]="heroe.first_appearance"
      />
    </mat-form-field>

    <mat-form-field class="childsize">
      <mat-label>Personajes</mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.characters" />
    </mat-form-field>

    <mat-form-field class="childsize">
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)]="heroe.publisher" required>
        <mat-option
          *ngFor="let publisher of publishers"
          [value]="publisher.id"
          >{{ publisher.desc }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="childsize">
      <mat-label>Foto Url</mat-label>
      <input matInput type="url" required [(ngModel)]="heroe.alt_img" />
    </mat-form-field>

    <div class="flexrow gap">
      <button
        mat-raised-button
        class="childsize"
        color="primary"
        (click)="guardar()"
      >
        <mat-icon fontIcon="edit"></mat-icon>
        {{ heroe.id ? "Actualizar" : "Crear" }}
      </button>
      <span class="spacer"></span>
      <button
        *ngIf="heroe.id"
        mat-raised-button
        class="childsize"
        color="warn"
        (click)="borrar()"
      >
        <mat-icon fontIcon="delete"></mat-icon>
        Borrar
      </button>
    </div>
  </div>
  <div class="div2">
    <img [src]="heroe | imagen" alt="heroe" class="imagefit" />
  </div>
</div>
