/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.spacer {
  flex: 1 1 auto;
}

.flex-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-evenly;
}
.sized {
  margin: 10px;
  max-width: 450px;
  height: 100%;
}
.sized2{
  margin: 10px;
  padding: 20px;
  max-width: 1000px;
  height: 100%;
}
.imagefit {
  width: 75%;
  height: auto;
  margin: 10px;
  align-self: center;
  border-radius: 5px;
}

.flexcol {
  display: flex;
  flex-direction: column;
}
