/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.spacer {
  flex: 1 1 auto;
}

.flex-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-evenly;
}
.sized {
  margin: 10px;
  max-width: 450px;
  height: 100%;
}
.sized2 {
  margin: 10px;
  padding: 20px;
  max-width: 1000px;
  height: 100%;
}
.imagefit {
  width: 100%;
  height: auto;
  margin: 10px;
  align-self: center;
  border-radius: 10px;
}

.flexcol {
  display: flex;
  flex-direction: column;
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,50%));
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.childsize {
  width: 100%;
  height: auto;
}
.gap{
  gap: 20px;
}
